nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

.logo a {
  letter-spacing: 5px;
  color: #EF820D;
  text-decoration: none;
}

.logo h4 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.logo img {
  height: 16vh;
  justify-content: center;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links a {
  color: #EF820D;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.nav-links li {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

.card {
  color:beige;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  background-color: #EF820D;
  text-align: center;
  height: auto;
  margin-bottom: 30px;
}

.card h4 {
  padding: 20px;
}

a {
  text-decoration: none;
  color: beige;
}