{% extends 'base.html' %}

{% block content %}
<div class="container">
  {% for new, des, i, url in context %}
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img class="img-thumbnail" src="{{i}}" alt="">
      </div>

    </div>
    <div class="col-md-6">
      <div class="card">
        <h3>Headline</h3>{{new}}
        <p>{{des}}</p>
        <p><a href="{{url}}">Read article </a><i class="fas fa-external-link-alt"></i></p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}