{% extends 'base.html'%}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-body tx-white bd-0">
        <h1>Aljazeera</h1>
        <a href="{{ url_for('aljazeera')}}">visit <i class="fas fa-link"></i>

        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-body tx-white bd-0">
        <h1>CNBC</h1>
        <a href="{{ url_for('cnbc')}}">visit <i class="fas fa-link"></i>

        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-body tx-white bd-0">
        <h1>CNN</h1>
        <a href="{{ url_for('cnn')}}"> visit <i class="fas fa-link"></i>

        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card tx-white bd-0">
        <div class="card-body">
          <h1 class="card-title">BBC</h1>
          <a href="{{ url_for('bbc')}}">visit <i class="fas fa-link"></i>

          </a>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-body tx-white bd-0">
        <h1>ESPN</h1>
        <a href="{{ url_for('espn')}}">visit <i class="fas fa-link"></i>

        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-body tx-white bd-0">
        <h1>REUTERS</h1>
        <a href="{{ url_for('reuters')}}">visit <i class="fas fa-link"></i>

        </a>
      </div>
    </div>
  </div>
</div>
{% endblock%}