{% extends 'base.html'%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {{ fontawesome_html() }}
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Kaushan+Script|Poiret+One&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  {% for new, des,i in context %}
  <div class="row">
    <div class="col-md-6">
      <div class="card">
         <img class="img-thumbnail" src="{{i}}" alt="">
      </div>
     
    </div>
    <div class="col-md-6">
      <div class="card">
        <h3>Headline</h3>{{new}}
        <p>{{des}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}