{% extends 'base.html'%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="container">
  {% for new, des,i in context %}
  <div class="row">
    <div class="col-md-6">
      <div class="card">
         <img class="img-thumbnail" src="{{i}}" alt="">
      </div>
     
    </div>
    <div class="col-md-6">
      <div class="card">
        <h3>news</h3>{{new}}
        <h3>description</h3>{{des}}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}