<nav>
  <div class="logo">
    <img src="" alt="logo">
    <a href="index.html"><h4>NEWS HIGHLIGHTS</h4></a>
  </div>
  <ul class="nav-links">
    <li class="active">
      <a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="#">About us</a>
    </li>
    <li>
      <a href="#">Why Us</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="index.html">Order Online</a>
    </li>
  </ul>
</nav>
